// Load Fonts

@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto');

$offwhite:    #EEE8D6;
$darkblue:    #022933;
$yellow:      #FFBA00;
$blue:        #0076A3;
$green:       #548C27;
$orange:      #F39856;
$red:         #D14348;
$purple:      #6D73C2;

$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;

$font-main: 'Roboto', Helevetica, sans-serif;
$font-highlight: 'Lato', Helevetica, sans-serif;
